<div class="contacts">
    <a class="contacts__social-link" href="tel:+971506244364" target="_blank" aria-label="Phone">
        <svg class="contacts__social-svg phone">
            <use href="./images/svg/sprite.svg#phone"></use>
        </svg>
    </a>
    <a class="contacts__social-link" href="https://wa.me/+971506244364" target="_blank" aria-label="WhatsApp">
        <svg class="contacts__social-svg whatsapp">
            <use href="./images/svg/sprite.svg#whatsapp"></use>
        </svg>
    </a>
</div>