<header class="header">
    <div class="header__content container">
        <a class="header__logo" href="/">
            <svg class="header__logo-svg">
                <use href="./images/svg/sprite.svg#logo"></use>
            </svg>
        </a>
        <!--=include menu.html -->
        <!--            <nav>-->
        <!--                <a href="index.html" data-link="/fragments/home-page-content.html">Главная</a>-->
        <!--                <a href="page1.html" data-link="/fragments/page1-content.html">Страница 1</a>-->
        <!--                <a href="page2.html" data-link="/fragments/page2-content.html">Страница 2</a>-->
        <!--                <a href="page2.html" data-link="/fragments/page2-content.html">Страница 2</a>-->
        <!--            </nav>-->
<div class="header__right">
    <!--=include contacts.html -->

    <button class="header__language-btn">
        RU
    </button>
</div>


    </div>
</header>