<nav class="menu">
    <ul class="menu__list">
        <li class="menu__item">
            <a class="menu__link menu__link--active" href="./index.html" data-link="/fragments/index-content.html">Home</a>
        </li>
        <li class="menu__item">
            <a class="menu__link" href="./about.html" data-link="/fragments/about-content.html">About Us</a>
        </li>
        <li class="menu__item">
            <a class="menu__link" href="./services.html" data-link="/fragments/services-content.html">Services</a>
        </li>
        <li class="menu__item">
            <a class="menu__link" href="./contacts.html" data-link="/fragments/contacts-content.html">Contacts</a>
        </li>
    </ul>
</nav>