<main class="main-about container">
    <h1 class="title">О компании</h1>
    <div class="main-about__content">
        <div class="main-about__picture-wrapper">
            <picture>
                <source srcset="/images/content/practice-areas.webp" type="image/webp">
                <img class="image" src="./images/content/practice-areas.jpg"
                     alt="">
            </picture>
        </div>
        <div class="main-about__text">
            <p>Мировой кризис 2008 года затронул и сферу недвижимости ОАЭ и новое законодательство по недвижимости начало проходить проверку с Судах Дубая.</p>
            <p>Бессчётное количество юридических консультаций было оказано пострадавшим инвесторам. Споры, которые не удалось урегулировать мирным путем переговоров были переданы в Суд Дубая и сопровождение судебных дел велось вплоть до завершения исполнительного производства.</p>
            <p>Появилась огромная практика, связанная с сопровождением всех видов сделок с недвижимостью, и на первичном, и на вторичном рынке, сопутствующие вопросы регистрации и ведения бизнеса в ОАЭ, в материковом Дубае и Свободных экономических Зонах, наследование иностранными гражданами на территории ОАЭ, сдача недвижимости в долгосрочную и краткосрочную аренду, некоторые вопросы уголовного права.</p>
            <p>Принимая во внимание огромный опыт работы  юристом Лины Андреевой в Дубае и в соответствии с Резолюцией  N22 от 2011 года, Юридическим Департаментом Правительства Дубая ей было дано одобрение на получение лицензии с видом деятельности юридический консалтинг под собственным именем Andreeva Legal Consultancy LLC.</p>
        </div>
    </div>
</main>