<main class="main-services container">
    <h1 class="title">Услуги</h1>
    <div class="main-services__content">
        <p class="main-services__text">Мы предоставляем нашим клиентам полный спектр юридических услуг в Дубае, Объединенные Арабские Эмираты:</p>
        <ul class="main-services__list">
            <li class="main-services__item">
                <span class="visually-hidden main-services__anchor" id="legal-consultations"></span>
                <h2 class="main-services__title">Юридические консультации:</h2>
                <p class="main-services__text">В Andreeva Legal Consultancy мы консультируем клиентов по всем правовым аспектам, потенциальным преимуществам и рискам, связанным с ведением бизнеса в Дубае и на территории ОАЭ. Наши индивидуальные юридические консультации напрямую соответствуют стратегическим бизнес-целям и задачам наших клиентов.</p>
            </li>
            <li class="main-services__item">
                <span class="visually-hidden main-services__anchor" id="commercial-contracts"></span>
                <h2 class="main-services__title">Коммерческие контракты (разработка, согласование и анализ):</h2>
                <p class="main-services__text">Andreeva Legal Consultancy ежедневно осуществляет разработку, согласование и анализ различных коммерческих контрактов, контролируя их исполнение и, при необходимости, выступая в качестве эскроу-агента.</p>
                <p class="main-services__text">Наши услуги включают подготовку следующих документов:</p>
                <ul class="main-services__sublist">
                    <li class="main-services__subitem">Протокол о намерениях</li>
                    <li class="main-services__subitem">Устав и учредительный договор</li>
                    <li class="main-services__subitem">Договоры коммерческого агентства и дистрибуции</li>
                    <li class="main-services__subitem">Договоры поставки и распределения</li>
                    <li class="main-services__subitem">Лицензионные и франчайзинговые соглашения</li>
                    <li class="main-services__subitem">Договоры проектного финансирования и кредитные соглашения</li>
                    <li class="main-services__subitem">Трудовые договоры и договоры управления</li>
                    <li class="main-services__subitem">Соглашения о конфиденциальности</li>
                    <li class="main-services__subitem">Строительные контракты</li>
                    <li class="main-services__subitem">Договоры аренды</li>
                    <li class="main-services__subitem">Договоры агентских услуг (Local Service Agency Agreements)</li>
                    <li class="main-services__subitem">Договоры купли-продажи</li>
                    <li class="main-services__subitem">Доверенности</li>
                    <li class="main-services__subitem">И другие соглашения и юридические документы</li>
                </ul>
            </li>
            <li class="main-services__item">
                <span class="visually-hidden main-services__anchor" id="setting-up-businesses"></span>
                <h2 class="main-services__title">Создание бизнеса</h2>
                <p class="main-services__subtitle">Оффшорные компании в Дубае:</p>
                <p class="main-services__text">Наша фирма имеет официальную лицензию Управления Свободной Экономической Зоны Джебель Али (JAFZA) на оказание услуг регистрационного агента для оффшорных компаний.</p>
            </li>
            <li class="main-services__item">
                <span class="visually-hidden main-services__anchor" id="free-zone-companies"></span>
                <h2 class="main-services__title">Компании в Свободных экономических зонах:</h2>
                <p class="main-services__text">Мы сопровождаем клиентов на всех этапах создания и лицензирования компаний в Свободных экономических зонах ОАЭ, включая Джебель Али, Свободную зону аэропорта Дубай, Свободную зону аэропорта Шарджи, Дубайский интернет-город и медиазону, Свободную зону Хамрия и Свободную зону Аджмана.</p>
                <p class="main-services__text">Мы предлагаем консультации по следующим видам юридических структур:</p>
                <ul class="main-services__sublist">
                    <li class="main-services__subitem">Предприятие в Свободной зоне (Free Zone Enterprise)</li>
                    <li class="main-services__subitem">Общество с ограниченной ответственностью в Свободной зоне (Free Zone LLC)</li>
                    <li class="main-services__subitem">Филиал иностранной компании</li>
                </ul>
            </li>
            <li class="main-services__item">
                <span class="visually-hidden main-services__anchor" id="offshore-companies"></span>
                <h2 class="main-services__title">Оффшорные компании в других юрисдикциях:</h2>
                <p class="main-services__text">Мы оказываем поддержку в регистрации оффшорных компаний на Британских Виргинских Островах (BVI), обеспечивая полное сопровождение процесса и соблюдение всех местных и международных норм.</p>
            </li>
            <li class="main-services__item">
                <span class="visually-hidden main-services__anchor" id="company-registration"></span>
                <h2 class="main-services__title">Регистрация компаний в Дубае (материковый):</h2>
                <p class="main-services__text">Andreeva Legal Consultancy оказывает полное сопровождение при создании компаний в Дубае. Мы предоставляем услуги по оформлению юридической документации, регистрации, инкорпорации и лицензированию следующих форм:</p>
                <ul class="main-services__sublist">
                    <li class="main-services__subitem">Компании с ограниченной ответственностью (LLC)</li>
                    <li class="main-services__subitem">Гражданская компания с местным агентом</li>
                    <li class="main-services__subitem">Компания одного владельца с местным агентом</li>
                    <li class="main-services__subitem">Филиалы и представительства иностранных компаний</li>
                    <li class="main-services__subitem">Профессиональные компании</li>
                </ul>
            </li>
            <li class="main-services__item">
                <span class="visually-hidden main-services__anchor" id="drafting-of-wills"></span>
                <h2 class="main-services__title">Составление завещаний в Дубае:</h2>
                <p class="main-services__text">В Andreeva Legal Consultancy мы оказываем всестороннюю помощь для немусульман, желающих оформить и зарегистрировать завещание в Дубае.</p>
                <p class="main-services__text">Мы работаем в тесном сотрудничестве с клиентами, чтобы завещания были действительными, юридически обоснованными и соответствовали их личным пожеланиям.</p>
                <p class="main-services__text">Важно отметить, что для составления действительного завещания требуется участие юриста, и мы полностью сопровождаем процесс от начала до конца.</p>
            </li>
            <li class="main-services__item">
                <span class="visually-hidden main-services__anchor" id="handling-property-transactions"></span>
                <h2 class="main-services__title">Оформление сделок с недвижимостью:</h2>
                <p class="main-services__text">Andreeva Legal Consultancy оказывает полное юридическое сопровождение сделок, связанных с покупкой, продажей, строительством, финансированием, арендой и управлением недвижимостью в Дубае. Мы регулярно разрабатываем и согласовываем различные договоры для иностранных и местных клиентов, включая покупателей, продавцов, застройщиков, кредиторов, архитекторов и подрядчиков.</p>
                <p class="main-services__text">Наша практика включает:</p>
                <ul class="main-services__sublist">
                    <li class="main-services__subitem">Купля-продажа жилой и коммерческой недвижимости</li>
                    <li class="main-services__subitem">Договоры аренды</li>
                    <li class="main-services__subitem">Долгосрочную аренду и договоры управления недвижимостью</li>
                    <li class="main-services__subitem">Строительные контракты</li>
                    <li class="main-services__subitem">Финансирование недвижимости и ипотечные сделки</li>
                </ul>
            </li>
            <li class="main-services__item">
                <span class="visually-hidden main-services__anchor" id="paralegal-services"></span>
                <h2 class="main-services__title">Сопутствующие юридическим услуги</h2>
                <p class="main-services__text">Мы предоставляем широкий спектр сопутствующих юридическим услуг, включая, но не ограничиваясь следующими:</p>
                <ul class="main-services__sublist">
                    <li class="main-services__subitem">заверение в ОАЭ различных документов, выданных за пределами ОАЭ, таких как образовательные сертификаты, дипломы, свидетельства о браке, свидетельства о рождении, свидетельства о разводе, документы об опеке, учредительные документы компаний, доверенности, а также заверение документов, выданных в ОАЭ, для использования за пределами ОАЭ, включая заверение в различных консульствах;</li>
                    <li class="main-services__subitem">получение одобрений и лицензий, включая Дубайскую муниципалитет, Dubai Development Authority, RTA, Dubai Land Department, RERA, Tasheel, Tassjeel, Trakheesi;</li>
                    <li class="main-services__subitem">оформление «Золотых Виз» для инвесторов в недвижимость.</li>
                </ul>
            </li>
        </ul>
    </div>
</main>