<main class="main-services container">
    <h1 class="title">Services</h1>
    <div class="main-services__content">
        <p class="main-services__text">We provide our clients with the following comprehensive legal services in Dubai, United Arab Emirates:</p>
        <ul class="main-services__list">
            <li class="main-services__item">
                <span class="visually-hidden main-services__anchor" id="legal-consultations"></span>
                <h2 class="main-services__title">Legal Consultations:</h2>
                <p class="main-services__text">At Andreeva Legal Consultancy, we advise clients on all legal aspects, potential advantages, and risks associated with conducting business in Dubai and across the UAE. Our tailored legal consultations align directly with our clients’ strategic business decisions and objectives.</p>
            </li>
            <li class="main-services__item">
                <span class="visually-hidden main-services__anchor" id="commercial-contracts"></span>
                <h2 class="main-services__title">Commercial Contracts (Drafting, Negotiation, & Review):</h2>
                <p class="main-services__text">Andreeva Legal Consultancy manages the drafting, negotiation, and review of diverse commercial contracts daily, supervising their execution and, if required, serving as escrow agents.</p>
                <p class="main-services__text">Our services include agreements such as:</p>
                <ul class="main-services__sublist">
                    <li class="main-services__subitem">Memorandum of Understanding</li>
                    <li class="main-services__subitem">Memorandum & Articles of Association</li>
                    <li class="main-services__subitem">Commercial Agency and Distributorship Agreements</li>
                    <li class="main-services__subitem">Supply and distribution agreements</li>
                    <li class="main-services__subitem">Licensing and franchising agreements</li>
                    <li class="main-services__subitem">Project financing and loan agreements</li>
                    <li class="main-services__subitem">Employment and management agreements</li>
                    <li class="main-services__subitem">Confidentiality agreements</li>
                    <li class="main-services__subitem">Construction contracts</li>
                    <li class="main-services__subitem">Lease Agreements</li>
                    <li class="main-services__subitem">Local Service Agency Agreements</li>
                    <li class="main-services__subitem">Sale and Purchase Agreements</li>
                    <li class="main-services__subitem">Power of Attorney</li>
                    <li class="main-services__subitem">All other agreements and legal documents</li>
                </ul>
            </li>
            <li class="main-services__item">
                <span class="visually-hidden main-services__anchor" id="setting-up-businesses"></span>
                <h2 class="main-services__title">Setting-up Businesses</h2>
                <p class="main-services__subtitle">Offshore Companies in Dubai:</p>
                <p class="main-services__text">We are fully licensed by Jebel Ali Free Zone Authority to provide the services of registration agent for offshore companies in Dubai.</p>
            </li>
            <li class="main-services__item">
                <span class="visually-hidden main-services__anchor" id="free-zone-companies"></span>
                <h2 class="main-services__title">Free Zone Companies:</h2>
                <p class="main-services__text">We support clients with company formation and licensing in UAE Free Zones, including Jebel Ali Free Zone, Dubai Airport Free Zone, Sharjah Airport Free Zone, Dubai Internet and Media Zone, Hamriya Free Zone, and Ajman Free Zone.</p>
                <p class="main-services__text">We guide clients through various available legal structures:</p>
                <ul class="main-services__sublist">
                    <li class="main-services__subitem">Free Zone Enterprise</li>
                    <li class="main-services__subitem">Free Zone Limited Liability Company</li>
                    <li class="main-services__subitem">Branch of Foreign Company</li>
                </ul>
            </li>
            <li class="main-services__item">
                <span class="visually-hidden main-services__anchor" id="offshore-companies"></span>
                <h2 class="main-services__title">Offshore Companies in Other Jurisdictions:</h2>
                <p class="main-services__text">We assist clients in forming offshore companies specifically in the British Virgin Islands (BVI), offering complete support throughout the registration process and ensuring compliance with local and international regulations.</p>
            </li>
            <li class="main-services__item">
                <span class="visually-hidden main-services__anchor" id="company-registration"></span>
                <h2 class="main-services__title">Company registration in Dubai (mainland):</h2>
                <p class="main-services__text">Andreeva Legal Consultancy supports the formation of companies in Dubai providing comprehensive services, including legal documentation, registration, incorporation, and licensing of entities such as:</p>
                <ul class="main-services__sublist">
                    <li class="main-services__subitem">Limited Liability Company</li>
                    <li class="main-services__subitem">Civil Company with Local Agent</li>
                    <li class="main-services__subitem">Sole establishment with Local Agent</li>
                    <li class="main-services__subitem">Branches & Representative Offices of Foreign Companies</li>
                    <li class="main-services__subitem">Professional Companies</li>
                </ul>
            </li>
            <li class="main-services__item">
                <span class="visually-hidden main-services__anchor" id="drafting-of-wills"></span>
                <h2 class="main-services__title">Drafting of Wills in Dubai:</h2>
                <p class="main-services__text">At Andreeva Legal Consultancy, we provide comprehensive guidance for non-Muslim individuals seeking to draft and register wills in Dubai.</p>
                <p class="main-services__text">We work closely with clients to ensure their wills are valid, fully enforceable, and aligned with their personal intentions.</p>
                <p class="main-services__text">It is important to note that a lawyer must be appointed to draft a legally valid will, and we are fully equipped to assist clients with this process from start to finish.</p>
            </li>
            <li class="main-services__item">
                <span class="visually-hidden main-services__anchor" id="handling-property-transactions"></span>
                <h2 class="main-services__title">Handling Property Transactions:</h2>
                <p class="main-services__text">Andreeva Legal Consultancy handles legal matters involved in buying, selling, developing, financing, building, leasing, and managing properties in Dubai. We regularly draft and negotiate various real estate agreements for both foreign and local clients—whether they are buyers, sellers, developers, lenders, architects, or contractors.</p>
                <p class="main-services__text">The real estate practice includes the following: </p>
                <ul class="main-services__sublist">
                    <li class="main-services__subitem">Sale and purchase of residential and commercial properties</li>
                    <li class="main-services__subitem">Tenancy contracts</li>
                    <li class="main-services__subitem">Long-term lease and management agreements</li>
                    <li class="main-services__subitem">Construction contracting</li>
                    <li class="main-services__subitem">Real estate financing and mortgaging</li>
                </ul>
            </li>
            <li class="main-services__item">
                <span class="visually-hidden main-services__anchor" id="paralegal-services"></span>
                <h2 class="main-services__title">Paralegal Services:</h2>
                <p class="main-services__text">We provide wide spectrum of paralegal services, including but not limited to:</p>
                <ul class="main-services__sublist">
                    <li class="main-services__subitem">attestation in the UAE of different documents issued outside UAE like educational certificates, diplomas, marriage certificates, birth certificates, divorce certificates, custody documents, company constitutional documents, power of attorneys and attestation of documents issued in UAE for the use of outside UAE, including attestation of different consulates;</li>
                    <li class="main-services__subitem">obtaining of approvals for licenses including Dubai Municipality, Dubai Development Authority, RTA, Dubai Land Department, RERA, Tasheel, Tassjeel, Trakheesi;</li>
                    <li class="main-services__subitem">obtaining Gold Visas for property investors.</li>
                </ul>
            </li>
        </ul>
    </div>
</main>