<section class="main__present">
    <div class="main__present-content">
        <div class="main__present-svg-wrapper">
            <svg class="main__present-svg">
                <use href="./images/svg/sprite.svg#symbol"></use>
            </svg>
        </div>
        <div class="main__present-text">
            <h1 class="main__present-title">Andreeva Legal Consultancy LLC</h1>
            <h2 class="main__present-subtitle">Businesses Support Services</h2>
            <p class="main__present-description">A Dubai-based legal consultancy, the firm specializes in combining its deep knowledge of USE law with a keen insight into international clients' needs, effectively bridging cultural and legal divides.</p>
            <button class="main__present-button button">Contact us</button>
        </div>
    </div>
    <div class="main__present-services container">
        <ul class="main__present-services-list">
            <li class="main__present-services-item"><a class="main__present-services-link">Corporate law</a>
            </li>
            <li class="main__present-services-item"><a class="main__present-services-link">Real estate law</a>
            </li>
            <li class="main__present-services-item">
                <a class="main__present-services-link">Family and inheritance law</a></li>
            <li class="main__present-services-item"><a class="main__present-services-link">Criminal law</a></li>
            <li class="main__present-services-item"><a class="main__present-services-link">Debt collection</a>
            </li>
        </ul>
    </div>
</section>
<section class="main__about container">
    <h3 class="title">About us</h3>
    <div class="main__about-content">
        <div class="main__about-picture-wrapper">
            <figure>
                <picture>
                    <source srcset="./images/content/founder.webp" type="image/webp">
                    <img class="main__about-image" src="./images/content/founder.jpg"
                         alt="The founder of the company is Lina Andreeva">
                </picture>
                <figcaption class="main__about-image-caption">Lina Andreeva, Owner & Founder</figcaption>
            </figure>

        </div>
        <div class="main__about-info">
            <p class="main__about-text">The Andreeva Legal Consultancy LLC law consulting firm was founded by Lina Andreeva, a professorial lawyer who has been living in Dubai since 1994. After completing her studies in London and receiving a Master's degree in Law from the London Graduate School of Economics, Lina Andreeva began practicing law at one of the leading law firms in Dubai in 2007. </p>
            <p class="main__about-text">The beginning of her career coincided with the adoption of Law No. 7 of 2006, which gave foreign citizens the right to purchase real estate in the Emirate of Dubai (UAE) (then other emirates followed the example of Dubai) . With the adoption of this key law, a completely new direction in legal consulting in the UAE has emerged, namely legal consulting in the field of real estate transactions, since before that real estate transactions were carried out only between citizens of the UAE and Gulf Cooperation Countries (GCC).</p>
            <a class="main__about-button button" href="">Read more</a>
        </div>
    </div>
</section>
<section class="main__work-area container">
    <h3 class="title">Our areas of expertise</h3>

</section>